@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color: {{settings.color}};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  color: var(--color);

  word-wrap: break-word;
  word-break: break-word;

  width: 100%;
  height: 100%;
  padding: 20px 30px;
  overflow: hidden;
}
