* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 700;
  color: {{ settings.color }};

  word-wrap: break-word;
  word-break: break-word;

  width: 100%;
  height: 100%;
  padding: 20px 30px;
  overflow: hidden;
}

h1 {
  font-family: {{ settings.font }};
}

pre {
  font-family: {{ settings.font }};
}
